## 1-1-2. 類別型數據

In [1]:
import pandas as pd

df = pd.DataFrame([['小火龍', 'Fire', '39', 'FALSE'],
                  ['皮卡丘', 'Electric', '35', 'FALSE'],
                  ['超夢', 'Psychic', '106', 'TRUE'],
                  ['噴火龍', 'Fire', '78', 'FALSE']])
df.columns = ['Name', 'Type1', 'HP', 'Legendary']
df

  Name     Type1   HP Legendary
0  小火龍      Fire   39     FALSE
1  皮卡丘  Electric   35     FALSE
2   超夢   Psychic  106      TRUE
3  噴火龍      Fire   78     FALSE

In [2]:
df_encode = pd.get_dummies(df, 
                           columns=['Type1', 
                                    'Legendary'])
df_encode

,Name,HP,Type1_Electric,Type1_Fire,Type1_Psychic,Legendary_FALSE,Legendary_TRUE
0,小火龍,39,0,1,0,1,0
1,皮卡丘,35,1,0,0,1,0
2,超夢,106,0,0,1,0,1
3,噴火龍,78,0,1,0,1,0

In [3]:
df_encode = pd.get_dummies(df, 
                           columns=['Type1', 
                                    'Legendary'],
                          drop_first=True)
df_encode

  Name   HP  Type1_Fire  Type1_Psychic  Legendary_TRUE
0  小火龍   39           1              0               0
1  皮卡丘   35           0              0               0
2   超夢  106           0              1               1
3  噴火龍   78           1              0               0

In [4]:
from sklearn.preprocessing import LabelBinarizer
# 建立編碼器並進行擬合
lb = LabelBinarizer().fit(df['Type1'])
lb.transform(df['Type1'])

array([[0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0]])

In [5]:
from sklearn.preprocessing import LabelEncoder
# 建立編碼器並進行擬合
le = LabelEncoder().fit(df['Type1'])
print(le.transform(df['Type1']))
# 將編碼結果轉回原字串
print(le.inverse_transform([2]))

[1 0 2 1]
['Psychic']

In [6]:
mapping = {'Psychic':0, 'Electric':1, 'Fire':2}
df['Type1'] = df['Type1'].map(mapping)
df
# cat = pd.Categorical(df['Type1'], categories=['Psychic', 'Electric', 'Fire'])
# labels, uniques = pd.factorize(cat, sort=True)
# labels

  Name  Type1   HP Legendary
0  小火龍      2   39     FALSE
1  皮卡丘      1   35     FALSE
2   超夢      0  106      TRUE
3  噴火龍      2   78     FALSE

In [7]:
inv_mapping = {val: key for key, val in mapping.items()}
inv_mapping[1]

'Electric'